body {
  background-image: book-grass.jpg;
}
th, td {
  padding: 15px;
  text-align: left;
  color: navy;
}


     img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container {
  position: relative;
  text-align: center;
  color: black;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   }
